.header-container {
    position: relative;
    width: 100%;
    height: 58px;
    
    +above(rupture.mobile-cutoff) {
        height: 110px;
    }
}

header {
    width: 100%;
    
    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
    }
}

.header-content {
    margin: 0 auto;
    
    width: 100%;
    max-width: 1320px;
    height: 58px;
    
    background-color: #ed1c24;
    
    +above(rupture.mobile-cutoff) {
        height: 80px;
    }
        
}

.header-logo {
    overflow: hidden;
    width: 100%;
    
    img {
        display: block;
        margin: 12px auto;
        width: 100%;
        max-width: 150px;
    }

    +above(rupture.mobile-cutoff) {
        float: left;
        
        margin: 19px 20px 0;
        width: 217px;
        
        img {
            margin: 0;
            width: 100%;
            max-width: 187px;
        }
    }
}


.header-breadcrumb {
    display: none;
    
    +above(rupture.mobile-cutoff) {
        display: block;
        
        margin: 0 auto;
        
        width: 100%;
        max-width: 1320px;
        height: 30px;
        
        background-color: #242424;
        
        .fixed & {
            display: none;
        }
    }
}